*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter";
  color: #312f2f;
  line-height: 1.7;
  font-size: 1.5rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

input,
button {
  font-family: "Inter";
}

.prod-img-wrapper:hover img {
  transform: scale(1.2);
}
